#nav {
    margin: auto;
    max-width: auto;
    height: 150px;
    background-color: #FFF;
    color: 6097AF
    }

#white {
    background-color: white;
    height: 100px;
    }

    #green {
        background-color: lime;
        display: grid;
        grid-template-columns: 100%;
        height: 200px;    
    }

    #red {
         display: grid;
         background-color: red;
         grid-template-columns: 33.3% 33.3% 33.3%;
         height: 250px;
         padding: 20px;
        
    }

    .yellow {
        background-color: #EFE9DC;
        margin: 20px;
    }

    #white {
         background-color: white;
         height: 100px;
        }